
.estiloBoton {
    margin: 10px;
    background-color: #1F7BDE;
    color: white;
    padding: 40px 120px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .estiloIcon {
    font-size: 50px;
  }